body {
  background: rgb(248, 248, 204);
}
h1 {
  color: cadetblue;
}

.container {
  max-width: 720px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.weather-app {
  font-family: sans-serif;
  background: rgb(213, 243, 243);
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
  color: #878787;
}
